<ng-include src="'_header.html'" />
<div class="inner-wrapper">
    <aside id="sidebar-left" class="sidebar-left">			
        <ng-include src="'_aside.html'" />
    </aside>
    <section role="main" class="content-body">
                    <header class="page-header">
                        <h2>Main Projects</h2>
                        <div class="right-wrapper pull-right">
                            <ol class="breadcrumbs">
                                <li><a href=""><i class="fa fa-home"></i></a></li>
                                <li><a href="#">Main Projects</a></li>
                            </ol>
                            <span style="cursor: default;" class="sidebar-right-toggle">&nbsp;</span>
                        </div>
                    </header>
               <ng-include src="'_error_handling.html'" />
                <section class="card">
			<header class="card-header">
                            <h2 class="card-title">Main Projects</h2>
                            <div class="card-actions cursor-pointer">
                                <a  ng-click="createProject($event)" title="Create" class="fa fa-plus"></a>
                            </div>
                        </header>
                        <div class="card-body">
                            <table class="table table-bordered table-striped table-condensed mb-none table-responsive" id="datatable" style="width:100%">
                                <thead>
                                        <tr> 
                                                <th>#</th> 
                                                <th>Project Name</th>
                                                <th>Description</th> 
                                                <th>Created at</th>
                                                <th>Updated at</th> 
                                                <th>Actions</th> 
                                        </tr>
                                </thead>
                                <tbody> 
                                        <tr ng-repeat="project in items" > 
                                                <th scope="row">{{ project.id }}</th> 
                                                <td>{{ project.name }}</td> 
                                                <td class="col-sm-3">{{ project.description }}</td> 
                                                <td>{{ project.created_at }}</td>
                                                <td>{{ project.updated_at }}</td> 
                                                <td class="col-sm-3">
                                                        <div>
                                                        <button ng-click="openProject(project.id)" class="btn btn-success"><i class="fa fa-folder-open" style="font-size:20px; padding:2px;"></i></button>
                                                        <button ng-click="cloneProject(project.id)" class="btn btn-default"><i class="fa fa-clone" style="font-size:20px;  padding:2px;"></i></i></button>
                                                        <button ng-click="deleteProject(project.id)" class="btn btn-danger"><i class="fa fa-trash" style="font-size:20px; padding:2px;"></i></i></button>
                                                        </div>
                                                </td>
                                        </tr> 
                                </tbody>
                            </table>
                            <!-- pager -->
                            <ul ng-if="pager.pages.length > 0" class="pagination">
                                <li ng-class="{disabled:pager.currentPage === 1}">
                                    <a ng-click="setPage(1)" class="cursor-pointer">First</a>
                                </li>
                                <li ng-class="{disabled:pager.currentPage === 1}">
                                    <a ng-click="setPage(pager.currentPage - 1)" class="cursor-pointer">Previous</a>
                                </li>
                                <li ng-repeat="page in pager.pages" data-page="{{pager.currentPage}}" ng-class="{active:pager.currentPage === page}">
                                    <a ng-click="setPage(page)" class="cursor-pointer">{{page}}</a>
                                </li>               
                                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                    <a ng-click="setPage(pager.currentPage + 1)" class="cursor-pointer">Next</a>
                                </li>
                                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                    <a ng-click="setPage(pager.totalPages)" class="cursor-pointer">Last</a>
                                </li>
                            </ul>
                        </div>
                    </section>

<script type="text/ng-template" id="removeProject">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase border-bottom-red">Delete Project</h3>
      </div>
      <div class="modal-body">
        <p class="content">Are you sure to remove this Project ?</p>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
        <button ng-click="confirm('Ok')" class="btn btn-danger">Remove</button>
      </div>
    </div>
</script>

<script type="text/ng-template" id="createProject">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase border-bottom-red">Create New Project</h3>
      </div>
      <div class="modal-body">
        <p class="content col-form-label">Name of the new project</p>
        <input type="text" class="form-control" name="newProjectName" ng-model="newProjectName.name" maxlength="30" ng-required>
        <p class="content coral col-form-label" ng-show='newProjectName.name===undefined || newProjectName.name.length < 5'>You should insert a name for the project (5 < lenght < 30 )</p>
        <p class="content col-form-label">Description</p>
        <textarea type="text" class="form-control" name="newProjectName" ng-model="newProjectName.description" maxlength="150" rows="5" ng-required />
        <p class="content coral col-form-label" ng-show='newProjectName.description===undefined || newProjectName.description.length < 5'>You should insert a description for the project (5 < lenght < 150 )</p>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
        <button ng-click="confirm('Ok')" class="btn btn-danger" ng-disabled="newProjectName.description===undefined || newProjectName.description.length < 5 || newProjectName.name===undefined || newProjectName.name.length < 5">Create</button>
      </div>
    </div>
</script>


<script type="text/ng-template" id="cloneProject">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase border-bottom-red">Clone Project</h3>
      </div>
      <div class="modal-body">
        <p class="content col-form-label">Name of the project</p>
        <input type="text" class="form-control" name="newProjectName" ng-model="newProjectName.name" maxlength="30" ng-required>
        <p class="content coral col-form-label" ng-show='newProjectName.name===undefined || newProjectName.name.length < 5'>You should insert a name for the project (5 < lenght < 30 )</p>
        <p class="content col-form-label">Description</p>
        <textarea type="text" class="form-control" name="newProjectName" ng-model="newProjectName.description" maxlength="150" rows="5" ng-required />
        <p class="content coral col-form-label" ng-show='newProjectName.description===undefined || newProjectName.description.length < 5'>You should insert a description for the project (5 < lenght < 150 )</p>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
        <button ng-click="confirm('Ok')" class="btn btn-danger" ng-disabled="newProjectName.description===undefined || newProjectName.description.length < 5 || newProjectName.name===undefined || newProjectName.name.length < 5">Clone</button>
      </div>
    </div>
</script>