<header class="page-header">
                        <h2>Code Generation Compiler <span class="text-uppercase oblique underline">{{ projectName }}</span></h2>
                        <div class="right-wrapper pull-right">
                            <ol class="breadcrumbs">
                                <li><a href=""><i class="fa fa-home"></i></a></li>
                                <li><a href="" ng-click="$event.preventDefault();goToMainProject();" >Main Projects / Projects / Code Generation Compiler</a></li>
                            </ol>
                            <span style="cursor: default;" class="sidebar-right-toggle">&nbsp;</span>
                        </div>
                    </header>
               <ng-include src="'_error_handling.html'" />
               <div class="row pt-4">
                   <div class="col-lg-12 mb-8 mb-lg-0">
                        <section class="card">
                                <header class="card-header">
                                    <h2 class="card-title">Code Generation Compiler</h2>
                                </header>
                                <div class="card-body">
                                   <iframe id="visualization"  ng-src="{{ generation_url }}" style="border:none;" width="100%" height="2000px" ng-init="onMyFrameLoad()"></iframe>
                                </div>
