
    
                    <header class="page-header">
                        <h2>Code Based Generator: <span class="text-uppercase oblique underline">{{ projectName }}</span></h2>
                        <div class="right-wrapper pull-right">
                            <ol class="breadcrumbs">
                                <li><a href=""><i class="fa fa-home"></i></a></li>
                                <li><a href="" ng-click="$event.preventDefault();goToMainProject();" >Main Projects / Projects / Code Based Generator</a></li>
                            </ol>
                            <span style="cursor: default;" class="sidebar-right-toggle">&nbsp;</span>
                        </div>
                    </header>
               <ng-include src="'_error_handling.html'" />
               <div class="row pt-4" ng-cloak>
                   <div class="col-lg-12 mb-8 mb-lg-0">
                        <section class="card">
                                <header class="card-header">
                                    <h2 class="card-title" ng-if="!showConstraintForm">Code Based Generator</h2>
                                    <h2 class="card-title" ng-if="showConstraintForm">Constraint</h2>
                                    <div class="card-actions">
                                        <button class="btn btn-danger" style="margin-left:0.5em;" type="button" ng-click="$event.preventDefault(); showConstraintForm=true;" ng-show="!showConstraintForm"><i class="fa fa-angle-left" aria-hidden="true"></i> Go To Constraints</button>
                                    </div>
                                </header>
                                <div class="card-body">
                                   <form action="{{ generation_url }}" method="post" target="code_generator"  id="constraintGenerator" ng-show="showConstraintForm">
                                        <div class="form-group">
                                            <h4>Nodes number</h4>
                                            <label for="selOpNodNumber" class="col-form-label">Operator</label>
                                            <select class="form-control" id="selOpNodNumber" ng-model="constraint.nodes_number.operator" name="nodes_number_operator">
                                                <option value=""></option>
                                                <option value="<"><</option>
                                                <option value="=">=</option>
                                                <option value=">">></option>
                                            </select>
                                            <label for="inputNumberOfNodes" class="col-form-label">Numerical Value</label>
                                            <input type="number" class="form-control" id="inputNumberOfNodes" aria-describedby="Number of Nodes" placeholder="Enter the number of nodes" ng-model="constraint.nodes_number.value" name="nodes_number_value">
                                        </div>
                                        <div class="form-group">
                                            <h4>RAM</h4>
                                            <label for="selOpNodNumber" class="col-form-label">Operator</label>
                                            <select class="form-control" id="selPattern" ng-model="constraint.ram.operator" name="ram_operator">
                                                <option value=""></option>
                                                <option value="<"><</option>
                                                <option value="=">=</option>
                                                <option value=">">></option>
                                            </select>
                                            <label for="inputRAM" class="col-form-label">Numerical Value</label>
                                            <input type="number" class="form-control" id="inputRAM" aria-describedby="Amount of RAM" placeholder="Enter the RAM required (GB)" ng-model="constraint.ram.value" name="ram_value">
                                        </div>
                                        <div class="form-group">
                                            <h4>Storage</h4>
                                            <label for="selStorage" class="col-form-label">Operator</label>
                                            <select class="form-control" id="selStorage" ng-model="constraint.storage.operator" name="storage_operator">
                                                <option value=""></option>
                                                <option value="<"><</option>
                                                <option value="=">=</option>
                                                <option value=">">></option>
                                            </select>
                                            <label for="inputStorage" class="col-form-label">Numerical Value</label>
                                            <input type="number" class="form-control" id="inputStorage" aria-describedby="Storage GB" placeholder="Enter the Storage GB" ng-model="constraint.storage.value" name="storage_value">
                                        </div>
                                        <div class="form-group">
                                            <h4>Deployment Platform</h4>
                                            <select class="form-control" id="selDeployment" ng-model="constraint.deployment_platform.value" name="deployment_platform">
                                                <option value=""></option>
                                                <option value="ATOS">ATOS</option>
                                                <option value="Amazon">Amazon</option>
                                                <option value="Azure">Azure</option>
                                                <option value="Hadoop">Hadoop</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <h4>Technology</h4>
                                            <select class="form-control" id="selTechnology" ng-model="constraint.technology.value" name="technology">
                                                <option value=""></option>
                                                <option value="Map Reduce">Map Reduce</option>
                                                <option value="Parallel Python">Parallel Python</option>
                                                <option value="Docker">Docker</option>
                                                <option value="Apache Spark">Apache Spark</option>
                                                <option value="Apache Storm">Apache Storm</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <h4>Parallel Pattern</h4>
                                            <select class="form-control" id="selParallelPattern" ng-model="constraint.parallel_pattern.value" name="parallel_pattern">
                                                <option value=""></option>
                                                <option value="Map Reduce">Map Reduce</option>
                                                <option value="Bag of Task">Bag of Task</option>
                                                <option value="Pipeline">Pipeline</option>
                                                <option value="Producer Consumer">Producer Consumer</option>
                                                <option value="Tree Computation">Tree Computation</option>
                                                <option value="Divide and Conquer">Divide and Conquer</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <h4>Data Location</h4>
                                            <input type="text" class="form-control" id="inputDataLocation" aria-describedby="Data Location" placeholder="Data Location" ng-model="constraint.data_location.value" name="data_location">
                                        </div>
                                        <div class="form-group">
                                            <h4>Web Socket URL</h4>
                                            <input type="text" class="form-control" id="inputWebSocket" aria-describedby="Web Socket URL" placeholder="URL of the Web Socket" ng-model="constraint.web_socket_url.value" name="web_socket_url">
                                        </div>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-danger" ng-click="submit()">Send Constraint</button>
                                        </div> 
                                    </form>
                                    
                                        <br/ ng-show="showConstraintForm">
                                        <iframe name="code_generator" ng-src="{{ generation_url }}" style="width: 100%; height:2000px" ng-show="!showConstraintForm"></iframe>
                                    
                                    <div class="text-right">
                                            <button class="btn btn-danger" style="margin-left:0.5em;" type="button" ng-show="!showConstraintForm" ng-click="$event.preventDefault(); showConstraintForm=true;"><i class="fa fa-angle-left" aria-hidden="true"></i> Go To Constraints </button>
                                    </div>
                                </div>
                            
                  
                   
