<ng-include src="'_header.html'" />
<div class="inner-wrapper">
    <aside id="sidebar-left" class="sidebar-left">			
        <ng-include src="'_aside.html'" />
    </aside>
    <section role="main" class="content-body">
                    <header class="page-header">
                        <h2>Code Generation</h2>
                        <div class="right-wrapper pull-right">
                            <ol class="breadcrumbs">
                                <li><a href=""><i class="fa fa-home"></i></a></li>
                                <li><a href="#">Main Projects / Projects / Code Generation</a></li>
                            </ol>
                            <span style="cursor: default;" class="sidebar-right-toggle">&nbsp;</span>
                        </div>
                    </header>
               <ng-include src="'_error_handling.html'" />
               <div class="row pt-4">
                   <div class="col-lg-6 mb-4 mb-lg-0">
                        <section class="card">
                                <header class="card-header">
                                    <h2 class="card-title">Code Generation</h2>
                                    <div class="card-actions">
                                    </div>
                                </header>
                                <div class="card-body">
                                   <div>
                                        <div ui-ace="{
                                            useWrapMode : true,
                                            theme:'twilight',
                                            mode: 'python',
                                            firstLineNumber: 1,
                                            onLoad: aceLoaded,
                                            onChange: aceChanged
                                            }" ng-model="codeProject.code">
                                        </div>
                                        <h3>Parallel Pattern</h3>
                                        <select class="form-control" id="selPattern" ng-model="codeProject.platform" >
                                            <option value="MapReduce">MapReduce</option>
                                            <option value="ProducerConsumer">ProducerConsumer</option>
                                        </select>
                                        <h3>Deployment Technologies and Platform</h3>
                                        <select class="form-control" id="selDeployment" ng-model="codeProject.deployment" >
                                            <option value="HadoopSpark">HadoopSpark</option>
                                            <option value="Apache Spark(ATOS)">Apache Spark(ATOS)</option>
                                            <option value="Parallel Python Cora Cluster">Parallel Python Cora Cluster</option>
                                            <option value="Parallel Python GARR Federated">Parallel Python GARR Federated</option>
                                        </select>
                                    </div>
                                </div>
                            </section>
                   </div>
                   <div class="col-lg-6">
                        <section class="card">
                            <header class="card-header">
                                <h2 class="card-title">Result & Actions</h2>
                                <div class="card-actions">
                                </div>
                            </header>
                            <div class="card-body">
                                        <div class="panel panel-default">
                                            <h4>Results</h4>
                                            <div class="panel-body">
                                                <button class="btn btn-default" ng-click="downloadResults($event)"><i class="fa fa-download" aria-hidden="true">
                                                    </i> Download</button>
                                                <button class="btn btn-default" ng-click="downloadLogs($event)"><i class="fa fa-download" aria-hidden="true"></i> Logs</button>
                                                <button class="btn btn-default" ng-click="downloadCode($event)"><i class="fa fa-download" aria-hidden="true"></i> Code</button>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <h4>Actions</h4>
                                            <div class="panel-body">
                                                <button class="btn btn-default" ng-click="saveCode($event)"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
                                                <button ng-show="!codeProject.is_running" class="btn btn-info" ng-click="runCode($event)"><i class="fa fa-play" aria-hidden="true"></i> Run</button>
                                                <button ng-show="codeProject.is_running" class="btn btn-danger" ng-click="stopCode($event)"><i class="fa fa-stop" aria-hidden="true"></i> Stop</button>
                                            </div>
                                        </div>
                            </div>
                        </section>
                   </div>
