<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h1>New Configuration</h1>
  </div>
  <div class="col-sm-12 col-md-12" ng-app="admin-config" ng-controller="MainCtrl">
  	<div class="col-sm-12 col-md-6">
      <h2>Configuration</h2>
      <div class="col-sm-12 col-md-12" data-ng-repeat="choice in choices">
        <fieldset>
        <input type="text" ng-model="choice.id" name="" placeholder="Enter number">
        <!-- <select ng-model="choice.option">
          <option value>Select</option>
          <option value="Data Visualization">Data Visualization</option>
          <option value="Data Anonymization">Data Anonymization</option>
          <option value="Data Analytics Task">Data Analytics Task</option>
        </select> 
        <input type="text" ng-model="choice.number" name="" placeholder="Enter number"> -->
        <input type="text" ng-model="choice.prop" name="" placeholder="Enter number">
        <button class="remove" ng-show="$last" ng-click="removeChoice($index)">-</button>
      </fieldset>
    </div>
   <button class="addfields" ng-click="addNewChoice()">Add fields</button>
   </div>    
   <div id="choicesDisplay" class="col-sm-12 col-md-6">
    <h2>Result</h2>
    <pre>
      {{ choices | json }}
    </pre>
   </div>
      	
	</div>
  	 
  <!-- </div> -->
</div>