<ng-include src="'_header.html'" />
<div class="inner-wrapper">
    <aside id="sidebar-left" class="sidebar-left">			
        <ng-include src="'_aside.html'" />
    </aside>    
    <section role="main" class="content-body">                    
        <header class="page-header">
                        <h2>Templates</h2>
                        <div class="right-wrapper pull-right">
                            <ol class="breadcrumbs">
                                <li><a href=""><i class="fa fa-home"></i></a></li>
                                <li><a href="#">Templates</a></li>
                            </ol>
                            <span style="cursor: default;" class="sidebar-right-toggle">&nbsp;</span>
                        </div>
                    </header>
               <ng-include src="'_error_handling.html'" />
                <section class="card">
			<header class="card-header">
                            <h2 class="card-title">Templates</h2>
                        </header>
                        <div class="card-body">
                            <table class="table table-bordered table-striped table-condensed mb-none" id="datatable" style="width:100%">
                                        <thead>
                                            <tr> 
                                                <th>#</th> 
                                                <th>Template Name</th> 
                                                <th>Flow Type</th>
                                                <th>Created at</th>
                                                <th>Updated at</th>
                                                <th style="text-align: center;">Actions</th> 
                                            </tr>
                                        </thead>
                                        <tbody> 
                                            <tr ng-repeat="template in items" > 
                                                    <th scope="row">{{ template.id }}</th> 
                                                    <td>{{ template.name }}</td> 
                                                    <td style="text-transform: uppercase; text-align: center;">{{ template.flow_type }}</td>
                                                    <td>{{ template.created_at }}</td>
                                                    <td>{{ template.updated_at }}</td> 
                                                    <td>
                                                    <div>
                                                        <button ng-click="deleteTemplate(template.id)" class="btn btn-danger"><i class="fa fa-trash" style="font-size:20px;"></i></button>
                                                    </div>
                                                    </td>
                                            </tr> 
                                        </tbody>
                            </table>

                            <!-- pager -->
                            <ul ng-if="pager.pages.length > 0" class="pagination">
                                <li ng-class="{disabled:pager.currentPage === 1}">
                                    <a ng-click="setPage(1)">First</a>
                                </li>
                                <li ng-class="{disabled:pager.currentPage === 1}">
                                    <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
                                </li>
                                <li ng-repeat="page in pager.pages" data-page="{{pager.currentPage}}" ng-class="{active:pager.currentPage === page}">
                                    <a ng-click="setPage(page)">{{page}}</a>
                                </li>               
                                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                    <a ng-click="setPage(pager.currentPage + 1)">Next</a>
                                </li>
                                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                    <a ng-click="setPage(pager.totalPages)">Last</a>
                                </li>
                            </ul>
    
                        </div>
                    </section>
    </section>
</div>

<script type="text/ng-template" id="removeTemplate">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase border-bottom-red">Remove Template</h3>
      </div>
      <div class="modal-body">
        <p class="content">Are you sure to remove this Template ?</p>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
        <button ng-click="confirm('Ok')" class="btn btn-danger">Remove</button>
      </div>
    </div>
</script>
