<div class="row">
  <div class="col-sm-12 col-lg-4 offset-lg-1">
    <h2>Edit User</h2>

    <%= form_for(@user, url: user_update_path(@user), html: { method: :put }) do |f| %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :surname %><br />
        <%= f.text_field :surname, autofocus: true, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <label class="custom-control custom-checkbox col-sm-3">
          <%= f.check_box :is_admin, class:'custom-control-input', type: 'checkbox' %>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Admin</span>
        </label>
      </div><br/>
      
      <div class="actions pull-xs-right">
        <%= f.submit "Update", class: 'btn btn-primary' %>
      </div>
      
    <% end %>
  </div>
  <div class="col-sm-12 col-lg-4 offset-lg-2">
    <h2>Delete the account</h2>

    <p>Want to delete ? <%= button_to "Cancel my account", user_delete_path(@user), class: 'btn btn-danger', method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</div>