<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12"><h1>User Profile</h1></div>
  <div class="col-sm-12 col-md-12 col-lg-12">
  	<div class="card card-block">
      	<h3 class="card-title">Bio</h3>
      	<p class="card-text"><strong>Name:</strong> <%= @user.try(:name) %> </p>
      	<p class="card-text"><strong>Surname:</strong> <%= @user.try(:surname) %> </p>
      	<p class="card-text"><strong>Email:</strong> <%= @user.try(:email) %></p>
        <p class="card-text"><strong>Role:</strong> <%= @user.try(:role) %></p>
        <div id="dropzoneButtons" class="text-xs-right">
          <% if current_user == @user %>
            <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-primary aligned-buttons' %>
          <% elsif current_user != @user and current_user.is_admin? %>
            <%= link_to "Edit Profile", user_edit_path(@user), class: 'btn btn-primary aligned-buttons' %>
          <% end %>
          <% if current_user.is_admin? %>
            <%= link_to "Delete Profile", user_delete_path(@user), method: :delete, class: 'btn btn-danger aligned-buttons' %>
          <% end %>
        </div>
      	
	</div>
  	 
  </div>
</div>