<section class="body-sign">
            <div class="center-sign" >
                <div class="panel panel-sign">
                    <div class="panel-body">
                        <div align="center">
                            <a href="" class="logo pull-center">
                                <img alt="" class="brand center-block brand-login" width="50%">
                            </a>
                        </div>
                        <br>
                        <form class="login-form" ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">
                            <div class="form-group">
                                <div class="left-inner-addon ">
                                <i class="fa fa-user"></i>
                                <input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control" placeholder="username@email.com"/>
                                </div>
                            </div>

                            <div class="form-group">
                                  <div class="left-inner-addon ">
                                  <i class="fa fa-lock"></i>
                                  <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control" placeholder="Password"/>
                                  </div>
                            </div>

                        <br>
                        <div align="center">
                            <button type="submit" class="btn btn-danger btn-lg btn-login">Sign in</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
</section>

<!-- <p>{{ state }}</p> -->