<section class="body-sign">
            <div class="center-sign" >
                <div class="panel panel-sign">
                    <div class="panel-body">
                        <div align="center">
                            <a href="" class="logo pull-center">
                                <img alt="" class="brand center-block brand-login" width="50%">
                            </a>
                        </div>
                        <br>
                        <form class="login-form" ng-submit="requestPasswordReset(passwordResetForm)" role="form" ng-init="passwordResetForm = {}">
                            <div class="form-group">
                                <div class="left-inner-addon ">
                                <i class="fa fa-user"></i>
                                <input type="email" name="email"  ng-model="passwordResetForm.email" required="required" class="form-control" placeholder="username@email.com"/>
                                </div>
                            </div>

                        <br>
                        <div align="center">
                            <button type="submit" class="btn btn-danger btn-lg btn-login">Request password reset</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
</section>
