
<section class="body-sign">
            <div class="center-sign" >
                <div class="panel panel-sign">
                    <div class="panel-body">
                        <div align="center">
                            <a href="" class="logo pull-center">
                                <img alt="" class="brand center-block brand-login" width="50%">
                            </a>
                        </div>
                        <br>
                        <form class="login-form" ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
                            <div class="form-group">
                               <label>Name</label>
                               <input type="text" name="name" ng-model="registrationForm.name" required="required" class="form-control"/>
                             </div>

                             <div class="form-group">
                               <label>Surname</label>
                               <input type="text" name="surname" ng-model="registrationForm.surname" required="required" class="form-control"/>
                             </div>

                             <div class="form-group">
                               <label>email</label>
                               <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
                             </div>

                             <div class="form-group">
                               <label>password</label>
                               <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
                             </div>

                             <div class="form-group">
                               <label>password confirmation</label>
                               <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
                             </div>


                        <br>
                        <div align="center">
                             <button type="submit" class="btn btn-primary btn-login">Register</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
</section>
