<section class="body-sign">
            <div class="center-sign" >
                <div class="panel panel-sign">
                    <div class="panel-body">
                        <div align="center">
                            <a href="" class="logo pull-center">
                                <img alt="" class="brand center-block brand-login" width="50%">
                            </a>
                        </div>
                        <br>
                        <form class="login-form"  ng-submit="updatePassword(changePasswordForm)" role="form" ng-init="changePasswordForm = {}">
                            <div class="form-group">
                                  <div class="left-inner-addon ">
                                  <i class="fa fa-lock"></i>
                                  <input ype="password" name="password" ng-model="changePasswordForm.password" required="required" class="form-control" placeholder="Password"/>
                                  </div>
                            </div>
                            <div class="form-group">
                                  <div class="left-inner-addon ">
                                  <i class="fa fa-lock"></i>
                                  <input type="password" name="password_confirmation" ng-model="changePasswordForm.password_confirmation" required="required" class="form-control" placeholder="Confirm Password"/>
                                  </div>
                            </div>

                        <br>
                        <div align="center">
                            <button type="submit" class="btn btn-danger btn-lg btn-login">Change your password</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
</section>