				    <div class="sidebar-header">
				        <div class="sidebar-title">
				            Navigation
				        </div>
				        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
				            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
				        </div>
				    </div>
				
				    <div class="nano">
				        <div class="nano-content">
				            <nav id="menu" class="nav-main" role="navigation">
				                <ul class="nav nav-main" data-prova="{{ currState.current.name }}" class="nav navbar-nav" ng-if="user.email && currState.current.name !== 'projects' && currState.current.name !== 'main_projects' && currState.current.name !== 'authentication.login' && currState.current.name !== 'templates' ">
                                                    <li ui-sref-active="nav-active"><a ui-sref="form.anagraphic"><i class="fas fa-home" aria-hidden="true"></i><span>Requirements</span></span></a></li>
                                                    <li ng-if='platform_flow_type === "code_based"' ui-sref-active="nav-active"><a ui-sref="form.code_generation"><i class="fas fa-terminal" aria-hidden="true"></i><span>Code Based Compiler</span></a></li>
                                                    <li ng-if='platform_flow_type === "service_based"' ui-sref-active="nav-active"><a ui-sref="form.services"><i class="fas fa-code-branch" aria-hidden="true"></i><span>Service Composition</span></a></li>
                                                    <li ng-if='platform_flow_type === "service_based"' ui-sref-active="nav-active"><a ui-sref="form.owls"><i class="fas fa-code" aria-hidden="true"></i><span>OWL-S Composition</span></a></li>
                                                    <li ng-if='platform_flow_type === "service_based"' ui-sref-active="nav-active"><a ui-sref="form.workflow"><i class="fas fa-file-code" aria-hidden="true"></i><span>Compiler</span></a></li>
                                                    <li ng-if='platform_flow_type === "service_based" && done === true' ui-sref-active="nav-active"><a ui-sref="form.visualization"><i class="fas fa-chart-area" aria-hidden="true"></i><span>Visualization</span></a></li>
                                                </ul>
				            </nav>
				        </div>
			
				
				    </div>
				