<div class="row">
	<div class="col-sm-12 error-alert" ng-show="$root.alertMessage">
		<div class="alert alert-dismissible alert-{{$root.alertMessage.class}}">
  			<button type="button" class="close" ng-click="$root.removeAlert()">&times;</button>
  			<h4>{{$root.alertMessage.alertType.toUpperCase()}}!</h4>
  			<p>{{$root.alertMessage.message}}</a>.</p>
		</div>
	</div>
</div>