			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
                                              <a class="logo" href="#" >
                                                <img alt="" class="brand" width="50%"/>
                                              </a>      
				</div>		
				<!-- start: search & user box -->
				<div class="header-right">		
					<span class="separator"></span>
			
					<div id="userbox" class="userbox">
						<a href="javascript:void(0);" data-toggle="dropdown">
                                                        <figure class="profile-picture">
                                                            <i class="fa fa-user-circle fa-3x"></i>
                                                        </figure>
							<div class="profile-info" data-lock-name="{{user.name + " " +user.surname}}">
								<span class="name">{{user.name + " " +user.surname}} </span>
							</div>
			
							<i class="fa custom-caret"></i>
						</a>		
						<div class="dropdown-menu">
							<ul class="list-unstyled mb-2" aria-labelledby="dropdownMenu1">
                                                            <li class="divider"></li>
                                                            <!-- <li><a href="#"><i class="fa fa-user"></i> Profile</a></li> -->
                                                            <li><a href="#" ng-click="$event.preventDefault();showConfigurations()"><i class="fa fa-folder-open"></i> Main Projects</a></li>
                                                            <li><a href="#" ng-click="$event.preventDefault();showTemplates()"><i class="fa fa-folder-open"></i> Templates</a></li>
                                                            <li role="separator" class="divider"></li>
                                                            <li><a href="#" ng-click="$event.preventDefault();logout()"><i class="fa fa-power-off"></i> Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->
