<div class="main" data-name="analytics" >
	<div ng-repeat="goal in analytics['tdm:incorporates']" ng-init="goalIndex=$index" >
		<p class="box-title-red border-radius">{{ goal["tdm:label"] }} <span ng-if='goal["tdm:label"] == "Analytics Quality"' tooltips tooltip-class="hey" tooltip-size="small" tooltip-side="right" tooltip-template="Specify your preferred quality parameters. Do not have any preferred parameters leave them zero"><span class="fa fa-question-circle" ></span></span></p>
		<div ng-repeat="question in goal['tdm:incorporates']" ng-init="questionIndex=$index" class="box" ng-hide='flow_type=="batch" && (question["tdm:label"]=="Learning Environment" || question["tdm:label"]=="Model Update")'> 
			<p class="box-title border-radius">{{question["tdm:label"]}} <span ng-if="legend[question['tdm:label']] !== undefined" tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::legend[question['tdm:label']]}}><span class="glyphicon glyphicon-question-sign" ></span></span></p>
			<div ng-repeat="answer in question['tdm:incorporates']" ng-init="answer">
				<div ng-if="question['tdm:visualisationType'] ==='Option' " class="radio" >
					<label>
	           			<input ng-if="question['tdm:visualisationType'] ==='Option' " type="radio" data-form="analytics" data-conf="{{configurationSelected.name}}" data-goalInd="{{goalIndex}}" data-questionInd="{{questionIndex}}" data-question="{{question.Question}}" data-goal="{{ goal.Name}}" ng-model="formData[configurationSelected.name]['tdm:analytics']['tdm:incorporates'][goalIndex]['tdm:incorporates'][questionIndex]['tdm:incorporates'][0]" ng-disabled="hideMe(analytics['tdm:label'], goal['tdm:label'], question['tdm:label'], answer['tdm:label'])" ng-value="answer" ng-change="calculateInterference(answer)" 
	           			 twoway>
	           {{answer["tdm:label"]}}<span ng-if="legend[question['tdm:label']+'::'+answer['tdm:label']] !== undefined" tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::legend[question['tdm:label']+'::'+answer['tdm:label']]}}><span class="fa fa-question-circle" ></span></span>
	        		</label>
	        		<!-- <div class="form-group constraint-box" ng-if="formData[configurationSelected.name]['tdm:analytics']['tdm:incorporates'][goalIndex]['tdm:incorporates'][questionIndex]['tdm:incorporates'][0] === answer">
	        			<p style='color:white;'><a class="btn btn-danger" role="button" ng-click="addConstraint()"><i class="fa fa-plus" aria-hidden="true"></i> Constraint</a> 
	        		
	        		</div> -->
	        	</div>
	        	<div ng-if="question['tdm:visualisationType'] ==='Option' && $last " class="radio" >
	        		<label>
	           			<input ng-if="question['tdm:visualisationType'] ==='Option' " type="radio" data-form="analytics" data-question="{{question.Question}}" data-goal="{{ goal.Name}}" ng-model="formData[configurationSelected.name]['tdm:analytics']['tdm:incorporates'][goalIndex]['tdm:incorporates'][questionIndex]['tdm:incorporates'][0]" ng-value="" ng-change="calculateInterference(''); removeNull(formData[configurationSelected.name]['tdm:analytics']['tdm:incorporates'][goalIndex]['tdm:incorporates'][questionIndex]['tdm:incorporates']);">None/Not Relevant <span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template='Select this value when your choice is <i>none of the above</i> or the objective is not relevant for your computation'><span class="fa fa-question-circle" ></span></span>
	        		</label>
	        	</div>
	        	<div ng-if="question['tdm:visualisationType'] ==='Checkbox' " class="checkbox" >
	        		<label>
	           		<input type="checkbox" data-checklist-model="formData[configurationSelected.name]['tdm:analytics']['tdm:incorporates'][goalIndex]['tdm:incorporates'][questionIndex]['tdm:incorporates']" data-checklist-value="answer" ng-disabled="hideMe(analytics['tdm:label'], goal['tdm:label'], question['tdm:label'], answer['tdm:label'])" checklist-change="calculateInterference(answer)" data-prova={{goalIndex}} data-test={{questionIndex}}>
	           {{answer["tdm:label"]}} <span ng-if="legend[question['tdm:label']+'::'+answer['tdm:label']] !== undefined" tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::legend[question['tdm:label']+'::'+answer['tdm:label']]}}><span class="fa fa-question-circle" ></span></span>
	        		</label>
	        		<!-- <div class="form-group constraint-box" ng-if="findInArray('tdm:analytics', goalIndex, questionIndex, answer['tdm:label']) !== undefined">
	        			<p style='color:white;'><a class="btn btn-danger" role="button" ng-click="addConstraint()"><i class="fa fa-plus" aria-hidden="true"></i> Constraint</a> 
	        		
	        		</div> -->

	        	</div>
	        	<div ng-if="question['tdm:visualisationType'] ==='Slider' " class="constraint no-animate" >
    				<rzslider rz-slider-model="formData[configurationSelected.name]['tdm:analytics']['tdm:incorporates'][goalIndex]['tdm:incorporates'][questionIndex]['tdm:incorporates'][0]['tdm:value']" rz-slider-options="{floor: 0,ceil: 1,step: 0.50,showTicks: true, stepsArray: [{value: 0, legend: 'LOW'},{value: 0.50, legend: 'MED.'}]}" ng-if="question['tdm:label'] === 'Overall Accuracy' && hideOverallAccuracy()"></rzslider>
    				<rzslider rz-slider-model="formData[configurationSelected.name]['tdm:analytics']['tdm:incorporates'][goalIndex]['tdm:incorporates'][questionIndex]['tdm:incorporates'][0]['tdm:value']" rz-slider-options="{floor: 0,ceil: 1,step: 0.50,showTicks: true, stepsArray: [{value: 0, legend: 'LOW'},{value: 0.50, legend: 'MEDIUM'},{value: 1, legend: 'HIGH'}]}" ng-if="question['tdm:label'] !== 'Overall Accuracy' || (question['tdm:label'] === 'Overall Accuracy' && !hideOverallAccuracy())"></rzslider>
    				<!-- <div class="form-group constraint-box">
    					<p style='color:white;'><a class="btn btn-danger" role="button" ng-click="addConstraint()"><i class="fa fa-plus" aria-hidden="true"></i> Constraint</a> 
	        		
	        		</div> -->
				</div>
			</div>
			<div ng-if="question['tdm:visualisationType'] ==='Checkbox' " class="text-right" >
				<button ng-disabled="disableCheckAll('tdm:analytics', goalIndex, questionIndex)" ng-click="checkAll('tdm:analytics', goalIndex, questionIndex)" class="btn btn-danger">Check all</button>
    			<button ng-disabled="formData[configurationSelected.name]['tdm:analytics']['tdm:incorporates'][goalIndex]['tdm:incorporates'][questionIndex]['tdm:incorporates'].length == 0" ng-click="uncheckAll('tdm:analytics', goalIndex, questionIndex)" class="btn btn-warning">Uncheck all</button>
			</div>
		</div>
			
	</div>
	<div class="text-right">
		<button ui-sref="form.preparation" class="btn btn-danger"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
    	<button ng-click="reset()" class="btn btn-warning">Cancel</button>
    	<button ui-sref="form.processing" class="btn btn-danger">Next <i class="fa fa-angle-right" aria-hidden="true"></i></button>
	</div>
</div>

