<header class="page-header">
    <h2>Visualization: <span class="text-uppercase oblique underline">{{ projectName }}</span></h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li><a href=""><i class="fa fa-home"></i></a></li>
            <li><a href="" ng-click="$event.preventDefault();goToMainProject();" >Main Projects / Projects / Visualization </a></li>
        </ol>
        <span style="cursor: default;" class="sidebar-right-toggle">&nbsp;</span>
    </div>
</header>
<ng-include src="'_error_handling.html'" />
<section class="card">
    <header class="card-header">
        <h2 class="card-title">Visualization</h2>
    </header>
    <div class="card-body">
        <!-- show our workflow as it is being typed -->
        <iframe id="visualization" ng-if="visualization_url !== '' " ng-src="{{ visualization_url }}" style="border:none;" width="100%" height="500px" ng-init="iframeLoaded()"></iframe>
    </div>
</section>

