<header class="page-header">
    <h2>Service Composition: <span class="text-uppercase oblique underline">{{ projectName }}</span></h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li><a href=""><i class="fa fa-home"></i></a></li>
            <li><a href="" ng-click="$event.preventDefault();goToMainProject();" >Main Projects / Projects / Service Composition</a></li>
        </ol>
        <span style="cursor: default;" class="sidebar-right-toggle">&nbsp;</span>
    </div>
    <style>
        a {
            color:black;
        }
    </style>
</header>
<ng-include src="'_error_handling.html'" />
<section class="card" ng-show="showNode || showEdge">
    <header class="card-header">
        <h2 class="card-title">Modifier</h2>
        <div class="card-actions">
            <button type="button" ng-click="closeModifier()" class="close close-modifier"><i class="fa fa-times" aria-hidden="true"></i></button>        
        </div>
    </header>
    <div class="card-body">
        <!-- show our workflow as it is being typed -->
        <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <p class="control-label modifier-title border-radius text-uppercase">Node Section</p>
                        <div class="form-group" align='center'>
                            <label for="nodeIdInput"class='col-md-3 control-label' data-placement='top' rel='tooltip'>Node Id</label>
                            <div class='col-md-6'>
                                <input type="text" ng-model="nodeId" class="form-control" id="nodeIdInput" placeholder="Node Id" disabled>
                            </div>
                        </div>
                        <br>
                        <div class="form-group" align='center'>
                            <label ng-show="nodeData.nodeType.type==='SERVICE'" for="serviceNameInput" class="col-md-3 control-label" data-placement='top' rel='tooltip'>Service name</label>
                            <div class="col-md-6" ng-show="nodeData.nodeType.type==='SERVICE'">
                                    <input type="text" ng-model="nodeData.service.name" class="form-control" id="serviceNameInput" placeholder="Service Name" disabled>
                            </div>
                            <label ng-show="nodeData.nodeType.type==='OPERATOR'" for="serviceNameInput" class="col-md-3 control-label" data-placement='top' rel='tooltip'>Operator Type</label>
                            <div class="col-md-6" ng-show="nodeData.nodeType.type==='OPERATOR'">
                                    <input type="text" ng-model="nodeData.nodeType.operatorType" class="form-control" id="serviceNameInput" placeholder="Service Name" disabled>
                            </div>
                        </div>
                        <div align='right'>
                                <p style='color:white;' class="col-sm-6"><a ng-if="showConditionalEdges()" class="btn btn-warning delete-edge" role="button" ng-click="addConditionalEdge(true)"><i class="fa fa-plus" aria-hidden="true"></i> Add True Edge</a><a ng-if="showConditionalEdges()" class="btn btn-warning delete-edge" role="button" ng-click="addConditionalEdge(false)"><i class="fa fa-plus" aria-hidden="true"></i> Add False Edge</a><a ng-if="showEditNode()" class="btn btn-warning delete-edge" role="button" ng-click="editNode()"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a><a class="btn btn-danger" role="button" ng-click="deleteNode()"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></p>
                                <p style='color:white;' class="col-sm-6"><a ng-if="showEdge" class="btn btn-warning delete-edge" role="button" ng-click="deleteEdge()"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="control-label modifier-title border-radius text-uppercase">Edge Section</p>
                        <div class="form-group" align='center'>
                            <label for="edgeFrom" class="col-md-3 control-label" data-placement='top' rel='tooltip'>From</label>
                            <div class="col-md-6">
                                    <select class="form-control" name="fromToSelect" id="fromToSelect" ng-model="edgeFrom" ng-disabled="showEdge">
                                            <option ng-repeat="(key, value) in elements | getNodes" value="{{value}}">{{value}}</option>
                                    </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group" align='center'>
                            <label ng-if="nodeData.nodeType.type==='START' || nodeData.nodeType.type==='STOP' || showEdge" for="edgeTo"  class="col-md-3 control-label" data-placement='top' rel='tooltip'>To</label>
                            <label ng-if="nodeData.nodeType.type==='OPERATOR' || nodeData.nodeType.type==='SERVICE'" for="edgeTo"  class="col-md-3 control-label" data-placement='top' rel='tooltip'>To</label>
                            <div class="col-md-6" >
                                    <select class="form-control" name="edgeToSelect" id="edgeToSelect" ng-model="edgeTo" ng-disabled="showEdge">
                                            <option ng-repeat="(key, value) in elements | getNodes" value="{{value}}">{{value}}</option>
                                    </select>
                            </div>
                        </div>
                        <div align="right">
                            <a style='color:white;' class="btn btn-danger" ng-class="{disabled: showEdge}" role="button" ng-click="addEdge()"><i class="fa fa-plus" aria-hidden="true"></i> Edge</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<div class="row pt-4">
    <div class="col-lg-6 mb-4 mb-lg-0">
            <section class="card">
                    <header class="card-header">
                            <div class="card-actions">
                            </div>
                            <h2 class="card-title">Service Selection <span tooltips tooltip-class="hey" tooltip-size="small" tooltip-side="right" tooltip-template="Under this section you can find the services in the platform filtered using the declaratives compiled by the user"><span class="fa fa-question-circle" ></span></span></h2>
                    </header>
                    <div class="card-body">
                      <div class="service-selection panel-group" id="accordion">
			<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
			    <a href="javascript:;" data-toggle="collapse" class="collapsed" data-parent="#accordion" data-target="#representation">
			      Representation
			    </a>
			  </h4>
			</div>
			<div id="representation" class="panel-collapse collapse">
			  <div class="panel-body">
			    <div class="row">
			    	<div ng-repeat="service in services['Data Representation']" class="col-sm-6 col-md-6">
			    		
							<div class="card text-center card-service">
								<div class="card-body">
        							<h4 class="card-text">{{::service.service.name}}</h4>
        							<p>
        								<span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::service.service.description}}><span class="fa fa-question-circle" ></span></span>
        								<span ng-if="service.service.framework !== null" tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::service.service.framework.name}}-{{::service.service.framework.version}} ><span class="fa fa-info-circle" ></span></span>
        								<span class="show-owls" ng-click="showOwls(service.owl)"><i class="fa fa-eye" aria-hidden="true" ></i></a>
        							</p>
        							<a class="btn btn-danger btn-card" role="button" ng-click="addServiceToWorkflow(service.service, 'SERVICE')"><i class="fa fa-plus" aria-hidden="true"></i> to Workflow</a>
      							</div>
							</div>
						
					</div>
			    </div>
			  </div>
			</div>
			</div>
			<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
			    <a href="javascript:;" data-toggle="collapse" class="collapsed" data-parent="#accordion" data-target="#preparation">
			      Preparation
			    </a>
			  </h4>
			</div>
			<div id="preparation" class="panel-collapse collapse">
			  <div class="panel-body">
			    <div class="row">
			    	<div ng-repeat="service in services['Data Preparation']" class="col-sm-6 col-md-6">
			    		
							<div class="card text-center card-service">
								<div class="card-body">
        							<h4 class="card-text">{{::service.service.name}}</h4>
        							<p>
        								<span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::service.service.description}}><span class="fa fa-question-circle" ></span></span>
        								<span ng-if="service.service.framework !== null" tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::service.service.framework.name}}-{{::service.service.framework.version}} ><span class="fa fa-info-circle" ></span></span>
        								<span class="show-owls" ng-click="showOwls(service.owl)"><i class="fa fa-eye" aria-hidden="true" ></i></a>
        							</p>
        							<a class="btn btn-danger btn-card" role="button" ng-click="addServiceToWorkflow(service.service, 'SERVICE')"><i class="fa fa-plus" aria-hidden="true"></i> to Workflow</a>
      							</div>
							</div>
						
					</div>
			    </div>
			  </div>
			</div>
			</div>
			<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
			    <a href="javascript:;" data-toggle="collapse" class="collapsed" data-parent="#accordion" data-target="#analytics">
			      Analytics
			    </a>
			  </h4>
			</div>
			<div id="analytics" class="panel-collapse collapse">
			  <div class="panel-body">
			    <div class="row">
			    	<div ng-repeat="service in services['Data Analytics']" class="col-sm-6 col-md-6">
							<div class="card text-center card-service">
								<div class="card-body">
        							<h4 class="card-text">{{::service.service.name}}</h4>
        							<p>
        								<span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::service.service.description}}><span class="fa fa-question-circle" ></span></span>
        								<span ng-if="service.service.framework !== null" tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::service.service.framework.name}}-{{::service.service.framework.version}} ><span class="fa fa-info-circle" ></span></span>
        								<span class="show-owls" ng-click="showOwls(service.owl)"><i class="fa fa-eye" aria-hidden="true" ></i></a>
        							</p>
        							<a class="btn btn-danger btn-card" role="button" ng-click="addServiceToWorkflow(service.service, 'SERVICE')"><i class="fa fa-plus" aria-hidden="true"></i> to Workflow</a>
      							</div>
							</div>
					</div>
			    </div>
			  </div>
			</div>
			</div>
			<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
			    <a href="javascript:;" data-toggle="collapse" class="collapsed" data-parent="#accordion" data-target="#processing">
			      Processing
			    </a>
			  </h4>
			</div>
			<div id="processing" class="panel-collapse collapse">
			  <div class="panel-body">
			    <div class="row">
			    	<div ng-repeat="service in services['Data Processing']" class="col-sm-6 col-md-6">
							<div class="card text-center card-service">
								<div class="card-body">
        							<h4 class="card-text">{{::service.service.name}}</h4>
        							<p>
        								<span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::service.service.description}}><span class="fa fa-question-circle" ></span></span>
        								<span ng-if="service.service.framework !== null" tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::service.service.framework.name}}-{{::service.service.framework.version}} ><span class="fa fa-info-circle" ></span></span>
        								<span class="show-owls" ng-click="showOwls(service.owl)"><i class="fa fa-eye" aria-hidden="true" ></i></a>
        							</p>
        							<a class="btn btn-danger btn-card" role="button" ng-click="addServiceToWorkflow(service.service, 'SERVICE')"><i class="fa fa-plus" aria-hidden="true"></i> to Workflow</a>
      							</div>
							</div>
					</div>
			    </div>
			  </div>
			</div>
			</div>
			<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
			    <a href="javascript:;" data-toggle="collapse" class="collapsed" data-parent="#accordion" data-target="#display">
			      Display
			    </a>
			  </h4>
			</div>
			<div id="display" class="panel-collapse collapse">
			  <div class="panel-body">
			    <div class="row">
			    	<div ng-repeat="service in services['Data Display and Reporting']" class="col-sm-6 col-md-6">
			    		<div class="card text-center card-service">
							<div class="card-body">
								<h4 class="card-text">{{::service.service.name}}</h4>
        							<p>
        								<span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::service.service.description}}><span class="fa fa-question-circle" ></span></span>
        								<span ng-if="service.service.framework !== null" tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::service.service.framework.name}}-{{::service.service.framework.version}} ><span class="fa fa-info-circle" ></span></span>
        								<span class="show-owls" ng-click="showOwls(service.owl)"><i class="fa fa-eye" aria-hidden="true" ></i></a>
        							</p>
        							<a class="btn btn-danger btn-card" role="button" ng-click="addServiceToWorkflow(service.service, 'SERVICE')"><i class="fa fa-plus" aria-hidden="true"></i> to Workflow</a>
							</div>
						</div>
					</div>
			    </div>
			  </div>
			</div>
			</div>
			<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
			    <a href="javascript:;" data-toggle="collapse" class="collapsed" data-parent="#accordion" data-target="#integration">
			      Ingestion
			    </a>
			  </h4>
			</div>
			<div id="integration" class="panel-collapse collapse">
			  <div class="panel-body">
			    <div class="row">
			    	<div ng-repeat="service in services['Data Integration']" class="col-sm-6 col-md-6">
							<div class="card text-center card-service">
								<div class="card-body">
        							<h4 class="card-text">{{::service.service.name}}</h4>
        							<p>
        								<span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::service.service.description}}><span class="fa fa-question-circle" ></span></span>
        								<span ng-if="service.service.framework !== null" tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::service.service.framework.name}}-{{::service.service.framework.version}} ><span class="fa fa-info-circle" ></span></span>
        								<span class="show-owls" ng-click="showOwls(service.owl)"><i class="fa fa-eye" aria-hidden="true" ></i></a>
        							</p>
        							<a class="btn btn-danger btn-card" role="button" ng-click="addServiceToWorkflow(service.service, 'SERVICE')"><i class="fa fa-plus" aria-hidden="true" ></i> to Workflow</a>
      							</div>
							</div>
					</div>
			    </div>
			  </div>
			</div>
			</div>
			<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
			    <a href="javascript:;" data-toggle="collapse" class="collapsed" data-parent="#accordion" data-target="#templates">
			      Templates
			    </a>
			  </h4>
			</div>
			<div id="templates" class="panel-collapse collapse">
			  <div class="panel-body">
			    <div class="row">
			    	<div ng-repeat="service in services['Templates']" class="col-sm-6 col-md-6">
							<div class="card text-center card-service">
								<div class="card-body">
        							<h4 class="card-text">{{::service.name}}</h4>
        							<p>
        								<span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::service.description}}><span class="fa fa-question-circle" ></span></span>
        								</a>
        							</p>
        							<a class="btn btn-danger btn-card" role="button" ng-click="addTemplateToWorkflow(service)"><i class="fa fa-plus" aria-hidden="true"></i> to Workflow</a>
      							</div>
							</div>
					</div>
			    </div>
			  </div>
			</div>
			</div>
                      </div>
                    </div>
            </section>
    </div>
    <div class="col-lg-6">
            <section class="card">
                    <header class="card-header">
                            <div class="card-actions">
				<a class="download">
					<button class="btn btn-default" style="display:none;" type="button" ng-click="downloadGraph($event)"> <i class="fa fa-download fa-2x" aria-hidden="true" ></i> Graph</span></button>
				</a>					
                                <div class="dropdown" style="float:left;">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fa fa-save" aria-hidden="true" ></i>
                                    Save
                                  <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li align="center"><a href="#" ng-click='$event.preventDefault();saveServiceComposition();'>Save</a></li>
                                    <li align="center"><a href="#" ng-click='$event.preventDefault();saveTemplate();'>Save as template</a></li>
                                  </ul>
                                </div>   
                                <button class="btn btn-danger" style="margin-left:0.5em;" type="button" ng-click="$event.preventDefault(); goToOwls();" ng-disabled="checkServiceComposition()" >Next <i class="fa fa-angle-right" aria-hidden="true"></i></button>
                            </div>
                            <h2 class="card-title">Service Composition <span tooltips tooltip-class="hey" tooltip-size="small" tooltip-side="right" tooltip-template="Click on a node or a edge and open the modifier. Using the modifier you can add/delete/modify the elements in the graph"><span class="fa fa-question-circle" ></span></span></h2>
                            <small id="serviceHelp" class="form-text text-muted coral" ng-show="checkServiceComposition()">The Service Composition should contains a START and a STOP node.</small>
                    </header>
                    <div class="card-body">
                        			<div class="text-right">
				<li class="dropdown operator-list">
          			<a style='color:white;' class="btn btn-danger dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Operators <span class="caret"></span>
          			</a>
                                <div class="dropdown-menu">
                                    <ul class="list-unstyled mb-2" aria-labelledby="dropdownMenu1">
          				<li class="dropdown-header">Initial/Ending Operators</li>
          				<li align="center"><a href="#" ng-click="$event.preventDefault();addTerminator('START')"> Start</a></li>
          				<li align="center"><a href="#" ng-click="$event.preventDefault();addTerminator('STOP')"> Stop</a></li>
          				<li class="dropdown-header">Parallel Operators</li>
          				<li align="center"><a href="#" ng-click="$event.preventDefault();addSplit('SPLIT')"> Split <span tooltips tooltip-class="hey" tooltip-size="medium" tooltip-side="right" tooltip-template="The SPLIT operator should be used when we want to parallelize the execution of multiple services running independently without waiting for each other"><span class="fa fa-question-circle" ></span></span></a></li>
                                        <li align="center" class="dropdown-submenu"><a tabindex="-1" href="#" ng-click="$event.preventDefault();"> Split+Join </a>
                                                <ul class="dropdown-menu">
                                                        <li align="center"><a tabindex="-1" href="#" ng-click="$event.preventDefault();addSplit('SPLITJOIN')">Split-Join <span tooltips tooltip-class="hey" tooltip-size="medium" tooltip-side="left" tooltip-template="The SPLIT-JOIN operator should be used when we want to parallelize the execution of multiple services running independently but we need to wait that all the services reach the JOIN point"><span class="fa fa-question-circle" ></span></span></a></li>
                                                        <li align="center"><a href="#" ng-click="$event.preventDefault();addSplit('JOIN')">Join <span tooltips tooltip-class="hey" tooltip-size="medium" tooltip-side="left" tooltip-template="The JOIN operator should be used with the SPLIT-JOIN operator to define the point when the flow should wait to proceed in the execution"><span class="fa fa-question-circle" ></span></span></a></li>
                                                </ul>
                                        </li>
                                    </ul>
				</div>
        		</li>
				<a style='color:white;' class="btn btn-success" role="button" ng-click="clearWorkflow()"><i class="fa fa-trash" aria-hidden="true"></i> Clear</a>
				<a style='color:white;' class="btn btn-success" role="button" ng-click="fit()"><i class="fa fa-arrows-alt" aria-hidden="true"></i> Fit</a>
				<a style='color:white;' class="btn btn-success" role="button" ng-click="centerWorkflow()"><i class="fa fa-crosshairs" aria-hidden="true"></i> Center</a>
			</div>
			
			<cytoscape graph-options="options" graph-elements="elements" graph-layout="layout" graph-style="style" graph-ready="cy_graph_ready" ></cytoscape>
                    </div>
            </section>
    </div>
</div>
<!-- Modifier Form -->



<script type="text/ng-template" id="showService">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase border-bottom-red">OWL-S</h3>
      </div>
      <div class="modal-body">
        <pre>{{ owlsToShow }}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="confirm('Ok')">Close</button>
      </div>
    </div>
</script>

<script type="text/ng-template" id="addServiceForm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase border-bottom-red">Service Configuration</h3>
      </div>
      <div class="modal-body">
        <form class="">
        <h5 class="box-title-red-modal">Service type and name</h5>
		<div class="form-group">
    		<label for="serviceName" class="col-form-label">Service Type</label>
    		<input type="text" class="form-control" name="firstname" ng-model="serviceSelected.name" maxlength="255" disabled>
		</div>

		<div class="form-group">
    		<label for="nodeName" class="col-form-label">Node Name</label>
   			<input type="text" class="form-control" name="surname" ng-model="serviceSelected.serviceName" ng-required="required" maxlength="255">
   			<p class="content coral" ng-show="serviceSelected.serviceName==undefined || serviceSelected.serviceName.length < 5">You should insert a name for the service (lenght > 5)</p>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h5 class="panel-title box-title-red-modal">
			    <a href="javascript:;" data-toggle="collapse" class="collapsed" data-parent="#accordion" data-target="#addExpertParameters" style="color:white">
			      EXPERT PARAMETERS
			    </a>
			  </h5>
			</div>
			<div id="addExpertParameters" class="panel-collapse collapse">
			  <div class="panel-body">
			    <div ng-repeat="(key, value) in serviceSelected.properties">
		 	<div class="form-group" ng-if="getInputType(value[Utils.keys(value)[0]].type) === 'text'">
    			<label for="nodeName" class="col-form-label">{{::value[Utils.keys(value)[0]].key}} <span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::value[Utils.keys(value)[0]].description}}><span class="fa fa-question-circle" ></span></span></label>
   				<input type="text" ng-if="value[Utils.keys(value)[0]].value != 'null'" class="form-control" value="{{::value[Utils.keys(value)[0]].value}}"  name="key" ng-model="value[Utils.keys(value)[0]].value" ng-required="required" maxlength="3000">
   				<input type="text" ng-if="value[Utils.keys(value)[0]].value === 'null'" class="form-control" initial-value=""  name="key" ng-model="value[Utils.keys(value)[0]].value" ng-required="required" maxlength="3000">
			</div>
			<div class="form-group" ng-if="getInputType(value[Utils.keys(value)[0]].type) === 'int'">
    			<label for="nodeName" class="col-form-label">{{::value[Utils.keys(value)[0]].key}} <span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::value[Utils.keys(value)[0]].description}}><span class="fa fa-question-circle" ></span></span></label>
   				<input type="number" string-to-number ng-if="value[Utils.keys(value)[0]].value != 'null'" initial-value value="{{::value[Utils.keys(value)[0]].value}}" class="form-control" name="key" ng-model="value[Utils.keys(value)[0]].value" ng-required="required">
   				<input type="number" string-to-number ng-if="value[Utils.keys(value)[0]].value === 'null'" initial-value class="form-control" name="key" ng-model="value[Utils.keys(value)[0]].value" ng-required="required">
			</div>
			<div class="form-group" ng-if="getInputType(value[Utils.keys(value)[0]].type) === 'double'">
    			<label for="nodeName" class="col-form-label">{{::value[Utils.keys(value)[0]].key}} <span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::value[Utils.keys(value)[0]].description}}><span class="fa fa-question-circle" ></span></span></label>
   				<input type="number" string-to-number ng-if="value[Utils.keys(value)[0]].value != 'null'" initial-value value="{{::value[Utils.keys(value)[0]].defaultValue}}" class="form-control" name="key" ng-model="value[Utils.keys(value)[0]].value" step="0.01" ng-required="required">
   				<input type="number" string-to-number ng-if="value[Utils.keys(value)[0]].value === 'null'" initial-value class="form-control" name="key" ng-model="value[Utils.keys(value)[0]].value" step="0.01" ng-required="required">
			</div>
			<div class="checkbox" ng-if="getInputType(value[Utils.keys(value)[0]].type) === 'boolean'">
    			<label for="nodeName" class="col-form-label">{{::value[Utils.keys(value)[0]].key}} <span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::value[Utils.keys(value)[0]].description}}><span class="fa fa-question-circle" ></span></span>
   				<input type="checkbox" string-to-number class="form-control" name="key" ng-model="value[Utils.keys(value)[0]].value"></label>
			</div>
		</div>
			  </div>
			</div>
		</div>
		
  	</form>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
    	<button ng-click="confirm('Ok')" class="btn btn-danger" ng-disabled="serviceSelected.serviceName==undefined || serviceSelected.serviceName.length < 5">Insert</button>
      </div>
    </div>
</script>

<script type="text/ng-template" id="editServiceForm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase border-bottom-red">Service Configuration</h3>
      </div>
      <div class="modal-body">
        <form class="">
        <h5 class="box-title-red-modal">Service type and name</h5>
		<div class="form-group">
    		<label for="serviceName">Service Type</label>
    		<input type="text" class="form-control" name="firstname" ng-model="nodeData.service.name" maxlength="255" disabled>
		</div>

		<div class="form-group">
    		<label for="nodeName">Node Name</label>
   			<input type="text" class="form-control" name="surname" ng-model="nodeData.id" ng-required="required" maxlength="255" disabled>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h5 class="panel-title box-title-red-modal">
			    <a href="javascript:;" data-toggle="collapse" class="collapsed" data-parent="#accordion" data-target="#editExpertParameters" style="color:white">
			      EXPERT PARAMETERS
			    </a>
			  </h5>
			</div>
			<div id="editExpertParameters" class="panel-collapse collapse">
			  <div class="panel-body">
			    <div ng-repeat="(key, value) in nodeData.service.properties">
		 	<div class="form-group" ng-if="getInputType(value[Utils.keys(value)[0]].type) === 'text'">
    			<label for="nodeName" class="col-form-label">{{::value[Utils.keys(value)[0]].key}} <span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::value[Utils.keys(value)[0]].description}}><span class="fa fa-question-circle" ></span></span></label>
   				<input type="text" ng-if="value[Utils.keys(value)[0]].value != 'null'" class="form-control" value="{{::value[Utils.keys(value)[0]].value}}"  name="key" ng-model="value[Utils.keys(value)[0]].value" ng-required="{test: value[Utils.keys(value)[0]].mandatory}" maxlength="3000">
   				<input type="text" ng-if="value[Utils.keys(value)[0]].value === 'null'" class="form-control" initial-value=""  name="key" ng-model="value[Utils.keys(value)[0]].value" ng-required="{test: value[Utils.keys(value)[0]].mandatory}" maxlength="3000">
			</div>
			<div class="form-group" ng-if="getInputType(value[Utils.keys(value)[0]].type) === 'int'">
    			<label for="nodeName" class="col-form-label">{{::value[Utils.keys(value)[0]].key}} <span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::value[Utils.keys(value)[0]].description}}><span class="fa fa-question-circle" ></span></span></label>
   				<input type="number" string-to-number ng-if="value[Utils.keys(value)[0]].value != 'null'" initial-value value="{{::value[Utils.keys(value)[0]].value}}" class="form-control" name="key" ng-model="value[Utils.keys(value)[0]].value" ng-required="required">
   				<input type="number" string-to-number ng-if="value[Utils.keys(value)[0]].defaultValue === 'null'" initial-value class="form-control" name="key" ng-model="value[Utils.keys(value)[0]].value" ng-required="required">
			</div>
			<div class="form-group" ng-if="getInputType(value[Utils.keys(value)[0]].type) === 'double'">
    			<label for="nodeName" class="col-form-label">{{::value[Utils.keys(value)[0]].key}} <span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::value[Utils.keys(value)[0]].description}}><span class="fa fa-question-circle" ></span></span></label>
   				<input type="number" string-to-number ng-if="value[Utils.keys(value)[0]].value != 'null'" initial-value value="{{::value[Utils.keys(value)[0]].value}}" class="form-control" name="key" ng-model="value[Utils.keys(value)[0]].value" step="0.01" ng-required="required">
   				<input type="number" string-to-number ng-if="value[Utils.keys(value)[0]].defaultValue === 'null'" initial-value class="form-control" name="key" ng-model="value[Utils.keys(value)[0]].value" step="0.01" ng-required="required">
			</div>
			<div class="checkbox" ng-if="getInputType(value[Utils.keys(value)[0]].type) === 'boolean'">
    			<label for="nodeName" class="col-form-label">{{::value[Utils.keys(value)[0]].key}} <span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template={{::value[Utils.keys(value)[0]].description}}><span class="fa fa-question-circle" ></span></span>
   				<input type="checkbox" ng-true-value="'true'" ng-false-value="'false'" class="form-control" name="key" ng-model="value[Utils.keys(value)[0]].value"></label>
			</div>
		</div>
			  </div>
			</div>
		</div>
		
  	</form>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
    	<button ng-click="confirm('Ok')" class="btn btn-danger">Insert</button>
      </div>
    </div>
</script>

<script type="text/ng-template" id="addSplitOperator">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase border-bottom-red">Split Configuration</h3>
      </div>
      <div class="modal-body">
        <form class="">
			<div class="form-group">
    			<label for="serviceName" class="col-form-label">Node Name (required)</label>
    			<input type="text" class="form-control" name="operatorName" ng-model="operatorName.name" maxlength="255">
			</div>
  		</form>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
    	<button ng-click="confirm('Ok')" class="btn btn-danger">Insert</button>
      </div>
    </div>
</script>

<script type="text/ng-template" id="addIteratorOperator">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase border-bottom-red">Split Configuration</h3>
      </div>
      <div class="modal-body">
    		<form class="">
				<div class="form-group">
    				<label for="serviceName" class="col-form-label">Node Name (required)</label>
    				<input type="text" class="form-control" name="operatorName" ng-model="operatorName.name" maxlength="255">
				</div>
				<div class="form-group">
    				<label for="serviceName" class="col-form-label">Condition </label>
    				<input type="text" class="form-control" name="operatorCondition" ng-model="operator.conf.condition" maxlength="255">
				</div>
				<div ng-if="operator.operatorType !== 'IF'" class="form-group">
    				<label for="serviceName" class="col-form-label">Number of max iterations</label>
    				<input type="number" class="form-control" name="operatorCondition" ng-model="operator.conf.iterations">
				</div>
  			</form>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
    	<button ng-click="confirm('Ok')" class="btn btn-danger">Insert</button>
      </div>
    </div>
</script>

<script type="text/ng-template" id="editIteratorOperator">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase border-bottom-red">Iterator Configuration</h3>
      </div>
      <div class="modal-body">
        <form class="">
			<div class="form-group">
    			<label for="serviceName" class="col-form-label">Node Name (required)</label>
    			<input type="text" class="form-control" name="operatorName" ng-model="nodeData.name" maxlength="255" disabled>
			</div>
			<div class="form-group">
    			<label for="serviceName" class="col-form-label">Condition </label>
    			<input type="text" class="form-control" name="operatorCondition" ng-model="nodeData.nodeType.conf.condition" maxlength="255">
			</div>
			<div ng-if="nodeData.nodeType.operatorType !== 'IF'" class="form-group">
    			<label for="serviceName" class="col-form-label">Number of max iterations</label>
    			<input type="number" class="form-control" name="operatorCondition" ng-model="nodeData.nodeType.conf.iterations">
			</div>
  			</form>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
    	<button ng-click="confirm('Ok')" class="btn btn-danger">Insert</button>
      </div>
    </div>
</script>

<script type="text/ng-template" id="addConditionalEdge">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase border-bottom-red">Add Conditonal Edge</h3>
      </div>
      <div class="modal-body">
        <form class="">
			<div class="form-group">
    		<label for="serviceName" class"col-form-label">Node To (required)</label>
    		<input type="text" class="form-control" name="operatorName" ng-model="conditionalEdgeTo.id" maxlength="255" placeholder="id of the node">
			</div>
			<pre>{{conditionalEdgeTo.id}}</pre>
  		</form>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
    	<button ng-click="confirm('Ok')" class="btn btn-danger">Insert</button>
      </div>
    </div>
</script>

<script type="text/ng-template" id="saveTemplate">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase border-bottom-red">Save as Template</h3>
      </div>
      <div class="modal-body">
        <p class="content">Name of the new template</p>
    	<input type="text" class="form-control" name="newTemplateName" ng-model="newTemplate.name" maxlength="30" ng-required>
    	<p class="content">Description</p>
    	<textarea type="text" class="form-control" name="newTemplateName" ng-model="newTemplate.description" rows="5" ng-required />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="confirm('Ok')">Save template</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeThisDialog('Cancel')">Cancel</button>
      </div>
    </div>
</script>