<ng-include src="'_header.html'" />
<div class="inner-wrapper">
    <aside id="sidebar-left" class="sidebar-left">			
        <ng-include src="'_aside.html'" />
    </aside>
    <section role="main" class="content-body">     
        <!-- our nested state views will be injected here -->
<div ng-if="!showForm(currState.current.name)" id="form-views" ui-view></div>
    <div ng-if="showForm(currState.current.name)">
                <header class="page-header">
                        <h2>Specify BDA Goals: <span class="text-uppercase oblique underline">{{ projectName }}</span></h2>
                        <div class="right-wrapper pull-right">
                            <ol class="breadcrumbs">
                                <li><a href=""><i class="fa fa-home"></i></a></li>
                                <li><a href="" ng-click="$event.preventDefault();goToMainProject();">Main Projects / Projects / Specify BDA Goals</a></li>
                            </ol>
                            <span style="cursor: default;" class="sidebar-right-toggle">&nbsp;</span>
                        </div>
                    </header>
                <ng-include src="'_error_handling.html'" />
                <section class="card">
			<header class="card-header">
                            <!-- the links to our nested states using relative paths -->
                            <!-- add the active class if the state matches our ui-sref -->
                            <div id="status-buttons" class="text-center">
                                <a style="color:black;" ui-sref-active="active" ui-sref=".anagraphic"><span style="color: white;">1</span> Project Fiche</a>
                                <a style="color:black;" ui-sref-active="active" ui-sref=".representation"><span style="color: white;">2</span> Representation</a>
                                <a style="color:black;" ui-sref-active="active" ui-sref=".preparation"><span style="color: white;">3</span> Preparation</a>
                                <a style="color:black;" ui-sref-active="active" ui-sref=".analytics"><span style="color: white;">4</span> Analytics</a>
                                <a style="color:black;" ui-sref-active="active" ui-sref=".processing"><span style="color: white;">5</span> Processing</a>
                                <a style="color:black;" ui-sref-active="active" ui-sref=".display"><span style="color: white;">6</span> Display & Reporting</a>
                            </div>
                        </header>
                        <div class="card-body">
                                  <!-- use ng-submit to catch the form submission and use our Angular function -->
                            <form id="signup-form" >
                              <div class="text-right">
                                <div class="dropdown" style="display:inline;" ng-if='platform_flow_type === "service_based"'>
                                  <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fa fa-save" aria-hidden="true"> </i> Save
                                  <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li align="center"><a style='color:black;' href="#" ng-click='$event.preventDefault();saveForm();'>Save</a></li>
                                    <li align="center"><a  style='color:black;'  href="#" ng-click='$event.preventDefault();alert("SAVE TEMPLATE");'>Save as template</a></li>
                                  </ul>
                                </div>
                                <button ng-if='platform_flow_type === "code_based"' class="btn btn-warning" ng-click='$event.preventDefault();saveForm();'><i class="fa fa-save" aria-hidden="true"></i> Save</button>
                                <a class="download" style=" padding-right:5px">
                                  <button type="button" ng-click="downloadConf($event)" class="btn btn-default"><i class="fa fa-download"></i> Download</button>
                                </a>
                                <button ng-click="clickToOpen()" class="btn btn-danger" style="float: right;">Submit</button>


                              </div>



                                <div class="form-group">
                                  <label for="configurationName">Select Declarative</label><span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template="The subconfiguration selected"><span class="glyphicon glyphicon-question-sign" ></span></span>
                                  <select class="form-control" name="configurationName" ng-model="configurationSelected.name" ng-change="changeSubconfiguration()" ng-options="i for i in configurationsName" >
                                   <!-- <option ng-options="i for i in configurationsName" ng-repeat="option in configurationsName" value="{{option}}">{{option}}</option> -->
                                  </select>
                                  <div class="text-right subconf-menu">
                                    <button type="button" ng-click="addSubconf()" class="btn btn-warning"><span class="fa fa-plus"></span></button>
                                    <button type="button" ng-click="removeSubconf()" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="targetDataSource">Data Source Ingestion</label><span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template="The Data Source to which apply the declarative goals"><span class="fa fa-question-circle" ></span></span>
                                  <div class="input-group" ng-repeat="dataSource in formData[configurationSelected.name]['tdm:targetDataSources'] track by $index">
                                  <input type="text" class="form-control" name="targetDataSource" ng-model="formData[configurationSelected.name]['tdm:targetDataSources'][$index]">
                                  <span class="input-group-btn" ng-disabled="formData[configurationSelected.name]['tdm:targetDataSources'].length <= 1">
                                    <button type="button" class="btn btn-danger btn-number" ng-click="removeFromTargetDataSource($index)" ng-disabled="formData[configurationSelected.name]['tdm:targetDataSources'].length <= 1">
                                        <span class="fa fa-minus"></span>
                                    </button>
                                  </span>
                                  </div>
                                  <div class="text-right">
                                    <button type="button" class="btn btn-warning" ng-click="addToTargetDataSource()">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label for="egestionDataSource">Data Source Egestion</label><span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template="The Data Source to which apply the declarative goals"><span class="fa fa-question-circle" ></span></span>
                                  <div class="input-group" ng-repeat="dataSource in egestionDataSources track by $index">
                                  <input type="text" class="form-control" name="targetDataSource" ng-model="egestionDataSources[$index]">
                                  <span class="input-group-btn" ng-disabled="egestionDataSources.length <= 1">
                                    <button type="button" class="btn btn-danger btn-number" ng-click="removeFromEgestionDataSource($index)" ng-disabled="egestionDataSources.length <= 1">
                                        <span class="fa fa-minus"></span>
                                    </button>
                                  </span>
                                  </div>
                                  <div class="text-right">
                                    <button type="button" class="btn btn-warning" ng-click="addToEgestionDataSource()">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                  </div>
                                </div>

                                <!-- our nested state views will be injected here -->
                                <div ng-cloak id="form-views" ui-view></div>

                            </form>

                            <!-- NOTIFICATIONS OF ERRORS IN RULES-->
                            <div ng-repeat="notification in notifications">
                              <growl-notification class="fading">
                                  <h4>Element Disabled:</h4> 
                                  <p class="white" ng-if="notification.area !== undefined && notification.area !== ''"><strong>Area:</strong> <span class="capitalize white">{{notification.area}}</span></p>
                                  <p class="white"ng-if="notification.goal !== undefined && notification.goal !== ''"><strong>Goal:</strong> <span class="capitalize white">{{notification.goal}}</span></p>
                                  <p class="white" ng-if="notification.indicator !== undefined && notification.indicator !== ''"><strong>Indicator:</strong> <span class="capitalize white">{{notification.indicator}}</span></p>
                                  <p class="white" ng-if="notification.feature !== undefined && notification.feature !== ''"><strong>Feature:</strong> <span class="capitalize white">{{notification.feature}}</span></p>

                            </div>

                        </div>
                    </section>
            </div>
  <!-- show our formData as it is being typed -->
            <br>
            <br>
            <section class="card" ng-if="formData !== undefined">
                  <header class="card-header">
                      <div class="card-actions">
                      </div>
                      <h2 class="card-title">Json</h2>
                  </header>
                  <div class="card-body">
                      <div class="scrollable visible-slider has-scrollbar" data-plugin-scrollable="" style="height: 350px;">
                          <div class="scrollable-content" tabindex="0" style="right: -17px;">
                              <pre>{{ formData[configurationSelected.name] | json }}</pre>
                          </div>
                      <div class="scrollable-pane" style="opacity: 1; visibility: visible;"><div class="scrollable-slider" style="height: 80px; transform: translate(0px, 118.328px);"></div></div></div>
                  </div>
          </section>
      </section>
</div>


  <script type="text/ng-template" id="confirmDialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase border-bottom-red">Information</h5>
      </div>
      <div class="modal-body">
        <p class="content">If you want to submit your declarative model press ok, otherwise press cancel to continue with the specification process. Please note that by pressing ok you will submit your selection in all tabs and no further activities will be allowed on the model.</p>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
        <button ng-click="confirm('Ok')" class="btn btn-danger">Ok</button>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="templateDialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase border-bottom-red">Information</h5>
      </div>
      <div class="modal-body">
        <p class="content">If you want to save your declarative model as a template press ok, otherwise press cancel. Please note that by pressing ok you will submit your selection in all tabs.</p>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
        <button ng-click="confirm('Ok')" class="btn btn-danger">Ok</button>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="addSubconfName">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase border-bottom-red">Add new declarative model</h5>
      </div>
      <div class="modal-body">
        <p class="content">Add the name of the new declarative</p>
        <input type="text" class="form-control" name="newSubconfName" ng-model="newSubconfName.name" maxlength="30">
        <p class="content coral" ng-show="newSubconfName.name===undefined || newSubconfName.name.length < 5">You should insert a name for the declarative (lenght > 5)</p>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
        <button ng-disabled="newSubconfName.name===undefined || newSubconfName.name.length < 5" ng-click="confirm('Ok')" class="btn btn-danger">Add</button>
      </div>
    </div>

  </script>

  <script type="text/ng-template" id="removeSubconf">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase border-bottom-red">Remove subconfiguration</h5>
      </div>
      <div class="modal-body">
        <p class="content">Are you sure to remove this subconfiguration ?</p>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
        <button ng-click="confirm('Ok')" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </script>


  <script type="text/ng-template" id="successDialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase border-bottom-red">Success</h5>
      </div>
      <div class="modal-body">
        <p class="content">The configuration is stored in the DB.</p>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Ok</button>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="errorDialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase border-bottom-red">Error</h5>
      </div>
      <div class="modal-body">
        <p class="content">The server responded with an error. Please try again.</p>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Ok</button>
      </div>
    </div>
  </script>

</div>
</div>

