<p class="box-title-red border-radius">Project Fiche</p>
<!-- 
<div class="form-group">
    <label for="firstname">Configuration Name</label>
    <input type="text" class="form-control" name="firstname" ng-model="anagraphic['tdm:configurationName']" maxlength="255">
</div>
-->
<div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" name="firstname" ng-model="anagraphic['tdm:firstname']" maxlength="255">
</div>

<div class="form-group">
    <label for="surname">Last Name</label>
    <input type="text" class="form-control" name="surname" ng-model="anagraphic['tdm:lastname']" maxlength="255">
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" ng-model="anagraphic['tdm:email']" maxlength="255">
</div>

<div class="form-group">
    <label for="affiliation">Affiliation</label>
    <input type="text" class="form-control" name="affiliation" ng-model="anagraphic['tdm:affiliation']" maxlength="255">
</div>

<div class="form-group">
    <label for="role">Role</label><span tooltips tooltip-class="hey" tooltip-side="right" tooltip-size="large" tooltip-template="Please insert your role within the organization"><span class="fa fa-question-circle" ></span></span>
    <input type="text" class="form-control" name="role" ng-model="anagraphic['tdm:role']" maxlength="255">
</div>

<div class="form-group">
    <label for="projectTitle">Big Data Project Title </label>
    <input type="text" class="form-control" name="projectTitle" ng-model="anagraphic['tdm:project_title']" maxlength="255">
</div>

<div class="form-group">
    <label for="projectDescription">Big Data Project Description</label><span tooltips tooltip-class="hey" tooltip-size="large" tooltip-side="right" tooltip-template="Please add a brief description of the Big Data project for which the declarative model will be specified"><span class="fa fa-question-circle" ></span></span>
    <textarea type="text" class="form-control" rows="5" name="projectDescription" ng-model="anagraphic['tdm:project_description']" />
</div>
<div class="text-right">
    <button ng-click="reset()" class="btn btn-warning">Cancel</button>
    <button ui-sref="form.representation" class="btn btn-danger">Next <i class="fa fa-angle-right" aria-hidden="true"></i></button>
</div>