<header class="page-header">
    <h2>OWL-S Service Composition: <span class="text-uppercase oblique underline">{{ projectName }}</span></h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li><a href=""><i class="fa fa-home"></i></a></li>
            <li><a href="" ng-click="$event.preventDefault();goToMainProject();" >Main Projects / Projects / OWL-S Service Composition</a></li>
        </ol>
        <span style="cursor: default;" class="sidebar-right-toggle">&nbsp;</span>
    </div>
</header>
<ng-include src="'_error_handling.html'" />
<section class="card">
    <header class="card-header">
        <h2 class="card-title">OWL-S Service Composition <span tooltips tooltip-class="hey" tooltip-size="small" tooltip-side="right" tooltip-template="This is the translation of the composition in a semantic format. Using the COMPILE button you can compile the flow to the chosen platform"><span class="fa fa-question-circle" ></span></span></h2>
          <div class="card-actions">
                <a class="download">
                    <button class="btn btn-default" ng-click="downloadOwls($event)"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
                </a>
                <button ng-click="saveOwls()" class="btn btn-default"><i class="fa fa-save" aria-hidden="true"></i> Save </button>
                <li class="dropdown operator-list pull-right compile">
                  <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> Compile<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <!-- <li><a href="#" ng-click="$event.preventDefault();transformToOozieWorkflow()"> --><li align="center"><a href="#" ng-click="$event.preventDefault();compileWorkflow(id, owlsWorkflow.data,'OOZIE')"> Oozie <i class="fa fa-play" aria-hidden="true"></i></a></li>
                    <li align="center"><a href="#" ng-click="$event.preventDefault(); compileWorkflow(id, owlsWorkflow.data, 'DSL')">SCDF <i class="fa fa-play" aria-hidden="true"></i></a></li>
                    <li align="center"><a href="#" ng-click="$event.preventDefault(); compileWorkflow(id, owlsWorkflow.data, 'OOZIE')">Platform Choice <i class="fa fa-play" aria-hidden="true"></i></a></li>
                  </ul>
                </li>                            
          </div>
    </header>
    <div class="card-body" >
          <div class="scrollable visible-slider has-scrollbar" data-plugin-scrollable="" style="height: 500px;">
                          <div class="scrollable-content" tabindex="0" style="right: -17px;">
                              <!-- show our workflow as it is being typed -->
                              <pre ng-if="owlsWorkflow.data !== undefined && owlsWorkflow.data !== ''">{{ owlsWorkflow.data | prettyXml }}</pre>
                              <pre ng-if="owlsWorkflow.data === undefined || owlsWorkflow.data === ''">Nothing to show !</pre>
                          </div>
                      <div class="scrollable-pane" style="opacity: 1; visibility: visible;"><div class="scrollable-slider" style="height: 80px; transform: translate(0px, 118.328px);"></div></div></div>
    </div>
</section>

