<header class="page-header">
    <h2>Compiler: <span class="uppercase oblique underline">{{ projectName }}</span></h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li><a href=""><i class="fa fa-home"></i></a></li>
            <li><a href="" ng-click="$event.preventDefault();goToMainProject();">Main Projects / Projects / Compiler </a></li>
        </ol>
        <span style="cursor: default;" class="sidebar-right-toggle">&nbsp;</span>
    </div>
</header>
<ng-include src="'_error_handling.html'" />
<section class="card">
    <header class="card-header">
        <h2 class="card-title">Workflow</h2>
        <div class="card-actions">
            <a class="download">
                <button class="btn btn-default" ng-click="downloadWorkflow($event)"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
            </a>
            <button ng-click="runWorkflow(id, owlsWorkflow.data, 'DSL')" class="btn btn-danger">Run <i class="fa fa-play" aria-hidden="true"></i></button>
            <button ng-click="$event.preventDefault();showConfigurations()" class="btn btn-warning"><i class="fa fa-eye" aria-hidden="true"></i> Got It ! </button>
            <button ng-if="done === true" ng-click="showResults(id)" class="btn btn-success"><i class="fa fa-play" aria-hidden="true"></i> Results</button>
        </div>
    </header>
    <div class="card-body">
        <div class="scrollable visible-slider has-scrollbar" data-plugin-scrollable="" style="height: 500px;">
                          <div class="scrollable-content" tabindex="0" style="right: -17px;">
                              <!-- show our workflow as it is being typed -->
                              <pre ng-if="oozieWorkflow.data !== undefined || oozieWorkflow.data !== ''">{{ oozieWorkflow.data | prettyXml}}</pre>
                              <pre ng-if="oozieWorkflow.data === undefined || oozieWorkflow.data === ''">Nothing to show !</pre>
                          </div>
                      <div class="scrollable-pane" style="opacity: 1; visibility: visible;"><div class="scrollable-slider" style="height: 80px; transform: translate(0px, 118.328px);"></div></div></div>
    </div>
</section>
