<ng-include src="'_header.html'" />
<div class="inner-wrapper">
    <aside id="sidebar-left" class="sidebar-left">			
        <ng-include src="'_aside.html'" />
    </aside>    
    <section role="main" class="content-body">                    
        <header class="page-header">
                        <h2>Main Project: <span class="text-uppercase oblique underline">{{ nameMain }}</span> </h2>
                        <div class="right-wrapper pull-right">
                            <ol class="breadcrumbs">
                                <li><a href=""><i class="fa fa-home"></i></a></li>
                                <li><a href="#">Main Projects / Projects</a></li>
                            </ol>
                            <span style="cursor: default;" class="sidebar-right-toggle">&nbsp;</span>
                        </div>
                    </header>
               <ng-include src="'_error_handling.html'" />
                <section class="card">
			<header class="card-header">
                            <h2 class="card-title">Projects</h2>
                            <div class="card-actions cursor-pointer">
                                <a  ng-click="createProject($event)" title="Create" class="fa fa-plus"></a>
                            </div>
                        </header>
                        <div class="card-body">
                            <table class="table table-bordered table-striped table-condensed mb-none" id="datatable" style="width:100%">
                                <thead>
                                              <tr> 
                                                  <th>#</th> 
                                                  <th>Project Name</th> 
                                                  <th>Flow Type</th>
                                                  <th>Created at</th>
                                                  <th>Updated at</th>
                                                  <th>Status</th> 
                                                  <th>Actions</th> 
                                              </tr>
                                          </thead>
                                          <tbody> 
                                              <tr ng-repeat="project in items" > 
                                                  <th scope="row">{{ project.id }}</th> 
                                                  <td>{{ project.name }}</td> 
                                                  <td style="text-transform: uppercase; text-align: center;">{{ project.flow_type }}</td>
                                                  <td>{{ project.created_at }}</td>
                                                  <td>{{ project.updated_at }}</td> 
                                                  <td ng-if="project.done === true || (project.flow_type == 'code_gen' && !project.is_running)">
                                                      <div class="progress">
                                                          <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                                      </div>
                                                  </td>
                                                  <td ng-if="project.flow_type !== 'code_gen' && project.done === false && project.status === 'RUNNING' || (project.flow_type === 'code_gen' && project.is_running)">
                                                      <div class="progress progress-striped active">
                                                          <div class="progress-bar" style="width: 100%"></div>
                                                      </div>
                                                  </td> 
                                                  <td ng-if="project.flow_type == 'code_gen' && project.done === false && project.status === 'STOPPED'">
                                                      <div class="progress progress-bar-info">
                                                          <div class="progress-bar" style="width: 100%"></div>
                                                      </div>
                                                  </td> 
                                                  <td>
                                                      <div ng-if="project.flow_type !== 'code_gen'">
                                                          <button ng-click="openProject(project.id)" class="btn btn-success"><i class="fa fa-folder-open" style="font-size:20px;"></i></button>
                                                          <button ng-click="cloneProject(project.id)" class="btn btn-default"><i class="fa fa-clone" style="font-size:20px;"></i></button>
                                                          <button ng-click="deleteProject(project.id)" class="btn btn-danger"><i class="fa fa-trash" style="font-size:20px;"></i></button>
                                                          <button ng-if="project.done === true" ng-click="showResults(project.id)" class="btn btn-info"><i class="fa fa-eye"  style="font-size:20px;"></i></button>
                                                      </div>
                                                      <div ng-if="project.flow_type === 'code_gen'">
                                                          <button ng-click="openProjectCode(project.id)" class="btn btn-success"><i class="fa fa-folder-open" style="font-size:20px;"></i></button>
                                                          <button ng-click="cloneProjectCode(project.id)" class="btn btn-default"><i class="fa fa-clone" style="font-size:20px;"></i></button>
                                                          <button ng-click="deleteProjectCode(project.id)" class="btn btn-danger"><i class="fa fa-trash"  style="font-size:20px;"></i> </button>
                                                          <button ng-if="project.done === true" ng-click="showResults(project.id)" class="btn btn-info"><i class="fa fa-eye" style="font-size:20px;"></i></button>
                                                      </div>
                                                  </td>
                                              </tr> 
                                          </tbody>

                            </table>

                            <!-- pager -->
                            <ul ng-if="pager.pages.length > 0" class="pagination">
                                <li ng-class="{disabled:pager.currentPage === 1}">
                                    <a ng-click="setPage(1)" class="cursor-pointer">First</a>
                                </li>
                                <li ng-class="{disabled:pager.currentPage === 1}">
                                    <a ng-click="setPage(pager.currentPage - 1)" class="cursor-pointer">Previous</a>
                                </li>
                                <li ng-repeat="page in pager.pages" data-page="{{pager.currentPage}}" ng-class="{active:pager.currentPage === page}">
                                    <a ng-click="setPage(page)" class="cursor-pointer">{{page}}</a>
                                </li>               
                                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                    <a ng-click="setPage(pager.currentPage + 1)" class="cursor-pointer">Next</a>
                                </li>
                                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                    <a ng-click="setPage(pager.totalPages)" class="cursor-pointer">Last</a>
                                </li>
                            </ul>
                        </div>
                    </section>
    </section>
</div>

        
	
<script type="text/ng-template" id="removeProject">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase border-bottom-red">Delete SubProject</h3>
      </div>
      <div class="modal-body">
        <p class="content">Are you sure to remove this SubProject ?</p>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
        <button ng-click="confirm('Ok')" class="btn btn-danger">Remove</button>
      </div>
    </div>
</script>

<script type="text/ng-template" id="createProject">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase border-bottom-red">Create new SubProject</h3>
      </div>
      <div class="modal-body">
        <p class="content col-form-label">Name of the new project</p>
            <input type="text" class="form-control" name="newProjectName" ng-model="newProjectName.name" maxlength="30" ng-required>
        <p class="content coral col-form-label" ng-show='newProjectName.name===undefined || newProjectName.name.length < 5'>You should insert a name for the project (5 < lenght < 30 )</p>
        <p class="content col-form-label">Flow Type</p>
            <select class="form-control" id="selFlowType" ng-model="newProjectName.flowType" ng-init='newProjectName.flowType="service_based"'>
                <option value="service_based" selected>SERVICE BASED</option>
                <option value="code_based">CODE BASED</option>
            </select>
        <p class="content col-form-label" ng-show='newProjectName.flowType!="code_based"'>Service Flow Type</p>
            <select class="form-control" id="selFlowServiceBased" ng-model="newProjectName.serviceFlowType" ng-init='newProjectName.serviceFlowType="batch"' ng-show='newProjectName.flowType!="code_based"'>
                <option value="batch" selected>BATCH</option>
                <option value="stream">STREAM</option>
            </select>
        <p class="content col-form-label">Name of the declarative</p>
        <input type="text" class="form-control" name="newProjectName" ng-model="newProjectName.declarative" maxlength="30" ng-required>
        <p class="content coral col-form-label" ng-show='newProjectName.declarative===undefined || newProjectName.declarative.length < 5'>You should insert a name for the declarative (5 < lenght < 30 )</p>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
        <button ng-click="confirm('Ok')" class="btn btn-danger" ng-disabled='isNotValid()'>Create</button>
      </div>
    </div>
</script>


<script type="text/ng-template" id="cloneProject">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-uppercase border-bottom-red">Clone SubProject</h3>
      </div>
      <div class="modal-body">
        <p class="content col-form-label">Name of the new project</p>
        <input type="text" class="form-control" name="newProjectName" ng-model="newProjectName.name" maxlength="30" ng-required>
        <p class="content coral" ng-show="newProjectName.name==undefined || (newProjectName.name.length < 5 && newProjectName.name.length > 30)">You should insert a name for the project (5 < lenght < 30 )</p>
      </div>
      <div class="modal-footer">
        <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
        <button ng-click="confirm('Ok')" class="btn btn-danger" ng-disabled="newProjectName.name==undefined || newProjectName.name.length < 5">Clone</button>
      </div>
    </div>
</script>