<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <!-- Web Fonts  -->
    <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300italic,300,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        .brand {
          content: url('<%= asset_path('logo-header.png') %>');
        }
        .brand:after {
          content: url('<%= asset_path('logo-header.png') %>');

        }
        .pagination {
          display: inline-block;
          padding-left: 0;
          margin: 20px 0;
          border-radius: 4px;
        }
        .pagination > li {
          display: inline;
        }
        .pagination > li > a,
        .pagination > li > span {
          position: relative;
          float: left;
          padding: 6px 12px;
          line-height: 1.42857143;
          text-decoration: none;
          color: #555555;
          background-color: #eeeeee;
          border: 1px solid #e2e2e2;
          margin-left: -1px;
        }
        .pagination > li:first-child > a,
        .pagination > li:first-child > span {
          margin-left: 0;
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
        }
        .pagination > li:last-child > a,
        .pagination > li:last-child > span {
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
        }
        .pagination > li > a:hover,
        .pagination > li > span:hover,
        .pagination > li > a:focus,
        .pagination > li > span:focus {
          color: #555555;
          background-color: #eeeeee;
          border-color: #e2e2e2;
        }
        .pagination > .active > a,
        .pagination > .active > span,
        .pagination > .active > a:hover,
        .pagination > .active > span:hover,
        .pagination > .active > a:focus,
        .pagination > .active > span:focus {
          z-index: 2;
          color: #ffffff;
          background-color: #158cba;
          border-color: #127ba3;
          cursor: default;
        }
        .pagination > .disabled > span,
        .pagination > .disabled > span:hover,
        .pagination > .disabled > span:focus,
        .pagination > .disabled > a,
        .pagination > .disabled > a:hover,
        .pagination > .disabled > a:focus {
          color: #999999;
          background-color: #eeeeee;
          border-color: #e2e2e2;
          cursor: not-allowed;
        }
        .pagination-lg > li > a,
        .pagination-lg > li > span {
          padding: 10px 16px;
          font-size: 18px;
        }
        .pagination-lg > li:first-child > a,
        .pagination-lg > li:first-child > span {
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
        }
        .pagination-lg > li:last-child > a,
        .pagination-lg > li:last-child > span {
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }
        .pagination-sm > li > a,
        .pagination-sm > li > span {
          padding: 5px 10px;
          font-size: 12px;
        }
        .pagination-sm > li:first-child > a,
        .pagination-sm > li:first-child > span {
          border-bottom-left-radius: 2px;
          border-top-left-radius: 2px;
        }
        .pagination-sm > li:last-child > a,
        .pagination-sm > li:last-child > span {
          border-bottom-right-radius: 2px;
          border-top-right-radius: 2px;
        }
        .pager {
          padding-left: 0;
          margin: 20px 0;
          list-style: none;
          text-align: center;
        }
        .pager li {
          display: inline;
        }
        .pager li > a,
        .pager li > span {
          display: inline-block;
          padding: 5px 14px;
          background-color: #eeeeee;
          border: 1px solid #e2e2e2;
          border-radius: 15px;
        }
        .pager li > a:hover,
        .pager li > a:focus {
          text-decoration: none;
          background-color: #eeeeee;
        }
        .pager .next > a,
        .pager .next > span {
          float: right;
        }
        .pager .previous > a,
        .pager .previous > span {
          float: left;
        }
        .pager .disabled > a,
        .pager .disabled > a:hover,
        .pager .disabled > a:focus,
        .pager .disabled > span {
          color: #999999;
          background-color: #eeeeee;
          cursor: not-allowed;
        }
        .rz-tick-legend{
        font-size: 11px;
        }
</style>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://rawgithub.com/ajaxorg/ace-builds/v1.1.1/src-min-noconflict/ace.js"></script>

</head>
<body ng-app="formApp" style='font-family: Titillium Web, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;' ng-cloak>
<growl-notifications></growl-notifications>
		<section class="body"  ui-view>
                                     <!-- views will be injected here -->
                                    

		</section>
                                    <div class="spinner" data-loading>
                                      <div class="cube1"></div>
                                      <div class="cube2"></div>
                                    </div>

<script type="text/ng-template" id="addConstraint">
    <h1 class="box-title-red">Constraint Configuration</h1>
    <form class="">
		<div ng-repeat="val in constraints.data">
		 	<div class="form-group" ng-if="val.type === 'text'">
    			<label for="nodeName">{{::val.name}} </label>
   				<input type="text" class="form-control" value="{{::val.value}}"  name="key" ng-model="constraints.data[$index].value" ng-required="required" maxlength="255">
			</div>
			<div class="form-group" ng-if="val.type === 'int'">
    			<label for="nodeName">{{::val.name}} </label>
   				<input type="number" value="{{::val.value}}" class="form-control" name="key" ng-model="constraints.data[$index].value" ng-required="required">
			</div>
			<div class="form-group" ng-if="val.type === 'double'">
    			<label for="nodeName">{{::val.name}} </label>
   				<input type="number" value="{{::valvalue}}" class="form-control" name="key" ng-model="constraints.data[$index].value" step="0.01" ng-required="required">
			</div>
			<div class="checkbox" ng-if="val.type === 'boolean'">
    			<label for="nodeName">{{::val.name}} 
   				
			</div>
		</div>
  	</form>
    <div class="text-right button-below">
    <button ng-click="closeThisDialog('Cancel')" class="btn btn-warning">Cancel</button>
    <button ng-click="confirm('Ok')" class="btn btn-danger">Insert</button>
    </div>
</script>

<!-- NOTIFICATIONS OF ERRORS IN RULES-->
      <div ng-repeat="event in events">
        <growl-notification class="fading alert alert-dismissible ng-class={alert-success: (event.type == 'success'), alert-danger: (event.type == 'error')}">
            <div class="">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>{{::event.name}}</strong> {{::event.message}}.
            </div>
        </growl-notification>
      </div>

</body>
<script type="text/javascript">
  $(function(){
    $('html').on('click','.sidebar-toggle',function(){
      $('html').toggleClass('sidebar-left-collapsed');
    })
  });
</script>


</html>